<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Checker</title>
</head>
<body>
    <h1>Check Your Password Strength</h1>
    <form method="POST">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <label for="show_password">Show Password:</label>
        <input type="checkbox" id="show_password" onclick="togglePasswordVisibility()">
        <br><br>
        <input type="submit" value="Check Password">
    </form>
    <p>{{ message }}</p>
    {% if time_estimate %}
        <p>Time to Crack: {{ time_estimate }}</p>
    {% endif %}
    {% if percentile %}
        <p>Strength Percentile: {{ percentile }}</p>
    {% endif %}

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var passwordCheckbox = document.getElementById('show_password');
            if (passwordCheckbox.checked) {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }
    </script>
</body>
</html>
